@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+Pro:wght@300;400;900&display=swap');

*{
    font-family:'Source Sans Pro', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none; 
    /* outline: blue solid 1px ; */
    /* text-transform: capitalize; */
    transition: all .2s linear;
}

body{
    height: 100%;
}

html{
    font-size: 72.5%;
    /* height: 100%; */
}

.App{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}